body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(6rem,auto) repeat(5,4rem);
  gap: 1px;
  width: calc(24rem + 7px);
  margin: 0 auto;
  border: 2px solid black;
}

.output {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #F3F3F3;
}

.calculator > button {
  background-color: #FDFDFD;
}

.button-ac {
  grid-column: 1 / span 2;
  background-color: #FDFDFD;
}

.button-equal {
  grid-column: 3 / span 2;
  background-color: #FDFDFD;
}

.current-output {
  font-size: 3rem;
}

.calculator > button:hover {
  background-color: #E1E1E1;
}